# --- Visual Studio ---
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build directories
x64/
Debug/
Release/
bin/
obj/

# Intellisense / PCH
*.VC.db
*.VC.opendb
*.ipch

# Compiled object files
*.obj
*.o
*.lo
*.la
*.slo

# Libraries
*.lib
*.a
*.la
*.lo

# DLL / Executables
*.dll
*.exe
*.out
*.app

# Logs
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# Generated output
triangles.csv

# MacOS
.DS_Store

# Windows junk
Thumbs.db
